description "OpenContrail control-node"

start on started ifmap-server
stop on runlevel [!2345]

respawn

pre-start script
	/usr/bin/docker rm contrail-control || echo "ignore error"
end script

post-stop script
	/usr/bin/docker kill contrail-control
end script

script
        /usr/bin/docker run --name contrail-control -v "{{ contrail_log_dir }}:/var/log/contrail" --privileged=true --cap-add=AUDIT_WRITE --pid=host --net=host -e CLOUD_ORCHESTRATOR=kubernetes contrail-controller-liberty:3.1.1.0-29
end script
