# {{ansible_managed}}

export MESOS_MASTER="{{ mesos_zookeeper_masters }}"
export MESOS_EXECUTOR_REGISTRATION_TIMEOUT="{{ mesos_executor_timeout }}"
export MESOS_PORT="{{ mesos_slave_port }}"
export MESOS_WORK_DIR="{{ mesos_work_dir }}"

export MESOS_CONTAINERIZERS="{{ mesos_containerizers }}"
export MESOS_NETWORK_CNI_CONFIG_DIR="{{ mesos_cni_config_dir }}"
export MESOS_NETWORK_CNI_PLUGINS_DIR="{{ mesos_cni_plugins_dir }}"
export MESOS_ISOLATION="{{ mesos_isolation }}"
export MESOS_IMAGE_PROVIDERS="{{ mesos_image_providers }}"

export MESOS_MODULES_DIR="{{ mesos_modules_config_dir }}"
