---
# Here we are using the debian package if debian
- include_vars: "{{ ansible_os_family }}.yml"

- include: common.yml

# Here we are using the debian package if debian
- include: Debian.yml
  when: ansible_os_family == "Debian"

- include: RedHat.yml
  when: ansible_os_family == "RedHat"

- include: mesos-install.yml
  when: not mesos_install_from_package

- include: mesos-install-package.yml
  when: mesos_install_from_package and ansible_os_family == "Debian"

- include: mesos.yml

- include: cni-plugins.yml
  when: mesos_install_mode == "slave"
  tags:
    - cni
