---
mesos_install_mode: "master" # {master|slave|master-slave}
mesos_version: "fork"

# RedHat: EPEL and Mesosphere yum repositories URL
epel_repo: "http://dl.fedoraproject.org/pub/epel/{{ os_version_major }}/{{ ansible_architecture }}/{{ epel_releases[os_version_major] }}"
mesosphere_yum_repo: "http://repos.mesosphere.com/el/{{ os_version_major }}/noarch/RPMS/{{ mesosphere_releases[os_version_major] }}"

# conf file settings
mesos_cluster_name: "mesos_cluster"
mesos_ip: "{{ansible_default_ipv4.address}}"
mesos_hostname: "{{ ansible_hostname }}"
mesos_master_port: "5050"
mesos_slave_port: "5051"
mesos_log_location: "/var/log/mesos"
mesos_ulimit: "-n 8192"
mesos_work_dir: "/var/mesos"
mesos_quorum: "1"
mesos_zookeeper_hostnames: "{{ groups['masters'][0] }}:{{ zookeeper_client_port }}"
mesos_zookeeper_masters: "zk://{{ mesos_zookeeper_hostnames }}/mesos"
mesos_owner: root
mesos_group: root
mesos_git: https://github.com/codilime/mesos
mesos_src_workdir: "/usr/src"
mesos_src: "{{mesos_src_workdir}}/mesos-{{mesos_version}}"
mesos_bundle: "{{mesos_src_workdir}}/mesos.git.bundle"
mesos_local_dir: /tmp/mesos

# Containerizer
mesos_executor_timeout: "5mins"
mesos_install_from_package: true
mesos_package_url: "http://repos.mesosphere.com/ubuntu/pool/main/m/mesos"
mesos_package_name: "mesos_1.0.1-2.0.93.ubuntu1404_amd64.deb"

# Additional configurations
mesos_additional_configs: []
  # For example:
  # - name: FOO
  #   value: bar
