---

- assert:
    that:
      - "'masters' in groups"
      - "'nodes' in groups"

- name: opencontrail facts
  include: facts.yml

- name: Assert that interface facts are defined
  assert:
    that:
      - contrail_host_interface is defined
      - contrail_host_ipaddr is defined
      - contrail_host_address is defined
      - contrail_host_gateway is defined

- name: Create log dir
  file: path="{{ contrail_log_dir }}" state=directory mode=0777

- name: Install contrail-python
  include: contrail-python.yml

- name: Install compute nodes
  include: vrouter.yml
  when: inventory_hostname in groups['nodes']

- name: Install gateways
  include: "{{ item }}"
  with_items:
    - vrouter.yml
    - gateway.yml
  when: "'gateways' in groups and inventory_hostname in groups['gateways']"

- name: Install masters
  include: master.yml
  when: inventory_hostname in groups['masters']
