---

- name: VRouter agent upstart
  template:
    src: contrail-vrouter-agent.upstart.j2
    dest: /etc/init/contrail-vrouter-agent.conf
    mode: 0644
  notify:
    - restart contrail-vrouter-agent

- name: Copy image
  become: no
  shell: scp "{{ private_file_server }}:{{ contrail_images_path }}/{{ item }}" /tmp/
  with_items:
    - "{{ contrail_agent_image }}"

- name: Load docker images
  shell: docker load < "/tmp/{{ item }}"
  with_items:
    - "{{ contrail_agent_image }}"

- name: uname -r
  shell: uname -r
  register: uname

- name: Install linux headers
  apt: name="linux-headers-{{ uname.stdout }}" state=latest

- name: Prepare contrail-vrouter-agent configuration
  template:
    src: contrail-vrouter-agent.conf.j2
    dest: /etc/contrail/contrail-vrouter-agent.conf
    mode: 0644
  notify:
    - restart contrail-vrouter-agent

- name: Start vrouter agent
  service: name=contrail-vrouter-agent enabled=yes state=started
